login/login/Connected Services/CategoryServiceReference/CategoryWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutoCategoryId">
        <s:complexType />
      </s:element>
      <s:element name="AutoCategoryIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoCategoryIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutoCategoryIdSoapIn">
    <wsdl:part name="parameters" element="tns:AutoCategoryId" />
  </wsdl:message>
  <wsdl:message name="AutoCategoryIdSoapOut">
    <wsdl:part name="parameters" element="tns:AutoCategoryIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertCategorySoapIn">
    <wsdl:part name="parameters" element="tns:insertCategory" />
  </wsdl:message>
  <wsdl:message name="insertCategorySoapOut">
    <wsdl:part name="parameters" element="tns:insertCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="CategoryWebServiceSoap">
    <wsdl:operation name="AutoCategoryId">
      <wsdl:input message="tns:AutoCategoryIdSoapIn" />
      <wsdl:output message="tns:AutoCategoryIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertCategory">
      <wsdl:input message="tns:insertCategorySoapIn" />
      <wsdl:output message="tns:insertCategorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoryWebServiceSoap" type="tns:CategoryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoCategoryId">
      <soap:operation soapAction="http://tempuri.org/AutoCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCategory">
      <soap:operation soapAction="http://tempuri.org/insertCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryWebServiceSoap12" type="tns:CategoryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoCategoryId">
      <soap12:operation soapAction="http://tempuri.org/AutoCategoryId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCategory">
      <soap12:operation soapAction="http://tempuri.org/insertCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryWebService">
    <wsdl:port name="CategoryWebServiceSoap" binding="tns:CategoryWebServiceSoap">
      <soap:address location="https://localhost:44312/CategoryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryWebServiceSoap12" binding="tns:CategoryWebServiceSoap12">
      <soap12:address location="https://localhost:44312/CategoryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>