WSEG5/ClientWebApplication/Connected Services/ClientWebService/ClientWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetClientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderedItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderedItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderedItemsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientDetails" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderedItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderedItems" />
  </wsdl:message>
  <wsdl:message name="GetOrderedItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderedItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientWebServiceSoap">
    <wsdl:operation name="GetClientDetails">
      <wsdl:input message="tns:GetClientDetailsSoapIn" />
      <wsdl:output message="tns:GetClientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderedItems">
      <wsdl:input message="tns:GetOrderedItemsSoapIn" />
      <wsdl:output message="tns:GetOrderedItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientWebServiceSoap" type="tns:ClientWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientDetails">
      <soap:operation soapAction="http://tempuri.org/GetClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderedItems">
      <soap:operation soapAction="http://tempuri.org/GetOrderedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientWebServiceSoap12" type="tns:ClientWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientDetails">
      <soap12:operation soapAction="http://tempuri.org/GetClientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderedItems">
      <soap12:operation soapAction="http://tempuri.org/GetOrderedItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientWebService">
    <wsdl:port name="ClientWebServiceSoap" binding="tns:ClientWebServiceSoap">
      <soap:address location="https://localhost:44314/ClientWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientWebServiceSoap12" binding="tns:ClientWebServiceSoap12">
      <soap12:address location="https://localhost:44314/ClientWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>