WSEG5/ClientWebApplication/Connected Services/LoginRegisterServiceReference/LoginRegisterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterClientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SupplierLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterClientSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="RegisterClientSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="ClientLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ClientLogin" />
  </wsdl:message>
  <wsdl:message name="ClientLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ClientLoginResponse" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SupplierLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SupplierLogin" />
  </wsdl:message>
  <wsdl:message name="SupplierLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SupplierLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientLoginRegisterServiceSoap">
    <wsdl:operation name="RegisterClient">
      <wsdl:input message="tns:RegisterClientSoapIn" />
      <wsdl:output message="tns:RegisterClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientLogin">
      <wsdl:input message="tns:ClientLoginSoapIn" />
      <wsdl:output message="tns:ClientLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input message="tns:AdminLoginSoapIn" />
      <wsdl:output message="tns:AdminLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SupplierLogin">
      <wsdl:input message="tns:SupplierLoginSoapIn" />
      <wsdl:output message="tns:SupplierLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientLoginRegisterServiceSoap" type="tns:ClientLoginRegisterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterClient">
      <soap:operation soapAction="http://tempuri.org/RegisterClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientLogin">
      <soap:operation soapAction="http://tempuri.org/ClientLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierLogin">
      <soap:operation soapAction="http://tempuri.org/SupplierLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientLoginRegisterServiceSoap12" type="tns:ClientLoginRegisterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientLogin">
      <soap12:operation soapAction="http://tempuri.org/ClientLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap12:operation soapAction="http://tempuri.org/AdminLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierLogin">
      <soap12:operation soapAction="http://tempuri.org/SupplierLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientLoginRegisterService">
    <wsdl:port name="ClientLoginRegisterServiceSoap" binding="tns:ClientLoginRegisterServiceSoap">
      <soap:address location="https://localhost:44314/LoginRegisterService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientLoginRegisterServiceSoap12" binding="tns:ClientLoginRegisterServiceSoap12">
      <soap12:address location="https://localhost:44314/LoginRegisterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>